.map-box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25rem;
  left: 0;

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .legend-title {
    height: 2rem !important;
    line-height: 2rem !important;
    justify-content: center;
  }

  .legend {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 2.5rem;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    text-align: center;

    .legend-item {
      width: 16.67%;
      padding: 0.5rem;
    }

    .legend-1 {
      background: #fde0c5;
    }

    .legend-2 {
      background: #facba6;
    }

    .legend-3 {
      background: #f8b58b;
    }

    .legend-4 {
      background: #f2855d;
    }

    .legend-5 {
      background: #ef6a4c;
    }

    .legend-6 {
      background: #eb4a40;
    }
  }
}
