.map-box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25rem;
  left: 0;

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .legend {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 2.5rem;
    background: #000;
    display: flex;
    text-align: center;

    .legend-item {
      width: 16.67%;
      padding: 0.5rem;
    }

    .legend-1 {
      background: #fcde9c;
    }

    .legend-2 {
      background: #f89872;
    }

    .legend-3 {
      background: #ec666d;
    }

    .legend-4 {
      background: #df4273;
    }

    .legend-5 {
      background: #c5287b;
    }

    .legend-6 {
      background: #7c1d6f;
    }
  }
}
