.side-panel {
  background: #FFF;
  position: absolute;
  top: 0;
  left: calc(100% - 25rem);
  right: 0;
  bottom: 0;
  padding: 1rem;
  overflow: auto;

  .title {
    text-align: center;
    font-size: 1.35rem;
  }

  .about {
    max-height: 25rem;
    transition: 0.7s ease-in-out;
    overflow: auto;
  }
}

.about.hidden {
  max-height: 0 !important;
  overflow: hidden;
}

.toggle-button {
  text-align: right;
}
