<mat-label>Select a country from the list or map</mat-label>
<mat-selection-list class="selection-list">
  <mat-list-option
    color="primary"
    *ngFor="let country of countries"
    [selected]="filters.countries.includes(country)"
    (click)="selectCountry(country)">
    {{country}}
  </mat-list-option>
</mat-selection-list>

<div class="country-info" *ngFor="let country of filters.countries">
  <h2>{{country}}</h2>
  <p><strong>{{formatCountryInfo(country, 'deaths_per_million')}}</strong> deaths per million residents</p>
  <p><strong>{{formatCountryInfo(country, 'count')}}</strong> incidents resulting in fatalities in 2018</p>
</div>
