<form [formGroup]="form" class="filter-form">
  <mat-form-field>
    <mat-label>Filter by country</mat-label>
    <mat-select formControlName="countries" multiple (selectionChange)="change()">
      <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Filter by actors</mat-label>
    <mat-select formControlName="actors" multiple>
      <mat-option *ngFor="let actor of actors" [value]="actor">{{ actor }}</mat-option>
    </mat-select>
  </mat-form-field>

  <ng5-slider (userChange)="onchange($event)" [options]="options" formControlName="fatalities"></ng5-slider>
</form>

<mat-selection-list #shoes>
  <mat-list-option *ngFor="let shoe of countries" [selected]="filters.countries.includes(shoe)">
    {{shoe}}
  </mat-list-option>
</mat-selection-list>
<!--<form [formGroup]="sliderForm">-->
<!--  <ng5-slider [options]="options" formControlName="sliderControl"></ng5-slider>-->
<!--</form>-->
<div class="tmp" *ngFor="let country of filters.countries" style="border: 1px solid orangered;">
  {{filters.countries}}

  <h2>{{country}}</h2>
  <p>here's some info about {{country}}</p>
</div>
