.filter-form {
  display: flex;
  flex-direction: column;
}

.selection-list {
  height: 10rem;
  overflow: auto;
}

.country-info {
  border: 1px solid #eb4a40;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 4px;
  background: rgba(20, 106, 136, 0.1);
}
